* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: #fff;
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
  z-index: 9999;
}

.logo {
  cursor: pointer;
  font-size: 2.5em;
  color: black;
  font-weight: bold;
  padding-left: 20px;
}

.logo span {
  color: rgb(170, 4, 4);
  font-size: 130%;
}

#toggle {
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(26, 158, 0, 0.9);
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggle::before {
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transform: translateY(-5px);
  transition: 0.2s;
}

#toggle::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transform: translateY(5px);
  transition: 0.2s;
}

#toggle.active::before {
  transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}

#toggle.active {
  background: rgb(170, 4, 4);
}

#navbar {
  position: relative;
  height: 60px;
  right: 60px;
  background: #fff;
  transition: 0.5s;
  width: 0px;
  overflow: hidden;
}

#navbar.active {
  width: 500px;
}

#navbar ul {
  position: relative;
  display: flex;
  flex-direction: row;
  color: black;
  font-weight: bold;
}

#navbar ul li {
  list-style: none;
}

#navbar ul li a {
  color: black;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0 15px;
  letter-spacing: 1px;
}

#navbar ul li a:hover {
  color: #fff;
  background: rgb(26, 158, 0, 0.9);
}

#kryefaqja .total {
  display: flex;
}

#kryefaqja {
  position: relative;
  margin-top: 100px;
}

#kryefaqja img {
  position: relative;
  width: 50%;
}

#kryefaqja .tekst {
  margin-top: 150px;
}

section .sherbimet {
  padding: 230px 0px;
  margin: 0px 0px;
}

.max-width {
  max-width: 1300px;
  padding: 0 50px;
  margin: auto;
}

.sherbimet {
  font-family: 'Poppins', sans-serif;
}

section .titulli {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

section .titulli::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

section .titulli::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

.sherbimet {
  color: #fff;
  background: #111;
}

.sherbimet .titulli::before {
  background: #fff;
}

.sherbimet .titulli::after {
  background: #111;
  content: 'Shërbimet!';
}

.sherbimet .card .box .btn {
  position: relative;
  background: #fff;
  margin: 20px;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border-radius: 50px;
  font-size: 16px;
  transition: all 0.3s ease;
  border: none;
  z-index: 1;
  overflow: hidden;
}

.sherbimet .card .box .btn::after {
  content: '';
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: #402f98;

  background-image: linear-gradient(225deg, #27d86c, #26caf8 50%, #c625d0 100%);
  top: -100px;
  left: -100px;
  z-index: -1;
  transition: all ease 0.5s;
}

.sherbimet .card .box .btn:hover {
  transition-delay: 0.3s;
  box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5),
    -10px 10px 25px 0 rgba(39, 200, 255, 0.5);
}

.sherbimet .card .box .btn:hover::after {
  transform: rotate(150deg);
}

.sherbimet .carousel .card {
  background: #222;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}

.sherbimet .carousel .card:hover {
  background: crimson;
}

.sherbimet .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.sherbimet .carousel .card:hover .box {
  transform: scale(1.05);
}

.sherbimet .carousel .card p {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.sherbimet .carousel .card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid crimson;
  transition: all 0.3s ease;
}

.sherbimet .carousel .card:hover img {
  border-color: #fff;
}

.owl-dots {
  text-align: center;
  margin-top: 15px;
}

.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid crimson !important;
  transition: all 0.3s ease;
  margin-bottom: 5px;
}

.owl-dot.active,
.owl-dot:hover {
  background: crimson !important;
}

/*Rreth Nesh*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.main-wrapper {
  overflow-x: hidden;
  min-height: 100vh;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
.faq-title h1 {
  margin: 3rem 0 2.4rem 0;
  text-align: center;
  text-transform: capitalize;
}
.faq-content {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 1rem;
}
.faq-right-content,
.faq-left-content {
  padding: 1.2rem;
}
.faq-left-content {
  text-align: center;
}
.faq-left-content img {
  width: 75%;
  display: block;
  margin: 1rem auto;
}
.faq-left-content p {
  font-weight: 400;
  opacity: 0.95;
  max-width: 400px;
  margin: 0 auto;
  line-height: 1.8;
}
.faq-item {
  margin-bottom: 1rem;
}
.faq-item-head {
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  box-shadow: 0 0 5px 0 rgb(255, 88, 96, 0.5);
  opacity: 0.85;
  padding: 0.6rem 1rem;
  border-radius: 9px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.faq-item-head:hover {
  box-shadow: 0 0 15px 0 rgb(255, 88, 96, 0.5);
}
.faq-item-icon {
  cursor: pointer;
}
.faq-item-body {
  overflow: hidden;
  max-height: 0;
  background: rgba(255, 88, 96, 0.1);
  border-radius: 2px;
  transition: all 0.3s ease;
}
.faq-item-body p {
  font-weight: 300;
  padding: 1rem;
}
.show-para {
  max-height: 1000px; /* js related */
}

@media screen and (min-width: 800px) {
  .faq-left-content {
    text-align: left;
  }
  .faq-left-content img {
    margin-left: 0;
  }
  .faq-left-content p {
    margin-left: 0;
    max-width: 460px;
  }
  .faq-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*Cookies*/

.cookie-container {
  position: fixed;
  z-index: 1;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #e6e6e6;
  color: black;
  padding: 13px 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
  transition: 400ms;
}

.cookie-container p {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  background: #008cdd;
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.copyright {
  text-align: center;
  background-color: rgb(245, 245, 245);
  font-weight: bold;
  padding: 10px;
  color: black;
}

@media (max-width: 991px) {
  #navbar {
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #navbar.active {
    height: calc(100vh - 60px);
    bottom: 0;
    width: 100%;
  }

  #navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
